<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find fws_description)/robots/parts/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://fws_description/meshes/DAE/base/base_link.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://fws_description/meshes/STL/base/base_link.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="0 0 0.017"/>
		<mass value="1.2"/>
		<inertia ixx="0.0001873" ixy="0" ixz="0" iyy="0.000055" iyz="0" izz="0.0002283" />
	  </inertial>
	</link>


    <!-- GPS Link -->
    <link name="gps_link">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
      </inertial>
    </link>

    <!-- Joint to attach GPS to base -->
    <joint name="gps_joint" type="fixed">
      <parent link="base_link"/>
      <child link="gps_link"/>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </joint>

    <!-- Gazebo plugin for GPS -->
    <gazebo reference="gps_link">
      <sensor name="gps_sensor" type="gps">
        <always_on>true</always_on>
        <update_rate>5</update_rate>
        <gps>
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0</stddev>
              </noise>
            </vertical>
          </position_sensing>
        </gps>
        <visualize>false</visualize>
      </sensor>
    </gazebo>


    <!-- IMU Link -->
    <link name="imu_link">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
      </inertial>
    </link>

      <!-- Joint to attach IMU to base -->
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
    </joint>

    <!-- Gazebo plugin for IMU -->
    <gazebo reference="imu_link">
      <sensor name="imu" type="imu">
          <always_on>1</always_on>
          <update_rate>100</update_rate>
          <visualize>true</visualize>
          <topic>imu</topic>
          <enable_metrics>true</enable_metrics>
      </sensor>
    </gazebo>


  </xacro:macro>
  
</robot>
